<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Gazuro - Projects </title>
    <script th:src="@{/js/angular.min.js}"></script>
    <script th:src="@{/js/ui-bootstrap.js}"></script>
    <script th:src="@{/js/gazuroApp.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
    <link rel="stylesheet" th:href="@{/css/gazuroStyle.css}"></link>
</head>
<body class="gradientBkgr" ng-app="gazuroApp">
<th id="userInbox" class="mainBox" ng-controller="projectController">
<th class="container">
    <div class="col-sm-12 projectsTitle"> Projects </div>
    <table class="projects table table-striped table-bordered">
        <tr class="headerRow">
            <th class="col-sm-3 h3">Name</th>
            <th class="col-sm-3 h3">Description</th>
            <th class="col-sm-3 h3">Price</th>
            <th class="col-sm-3 h3">Provider</th>
        </tr>
        <tr class="projectRow" ng-repeat="project in projects">
            <!--         <div class="row projectRow"> -->
            <td class="col-sm-3">{{project.name}}</td>
            <td class="col-sm-3">{{project.description}}</td>
            <td class="col-sm-3">${{project.price}}</td>
            <td class="col-sm-3">{{project.provider}}</td>
        </tr>
    </table>
</th>
</th>

</body>
</html>

