<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Gazuro - Projects </title>
  <script th:src="@{/js/angular.min.js}"></script>
  <script th:src="@{/js/angular-filter.js}"></script>

  <script th:src="@{/js/ui-bootstrap.js}"></script>
  <script th:src="@{/js/gazuroApp.js}"></script>

  <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
  <link rel="stylesheet" th:href="@{/css/gazuroStyle.css}"></link>
</head>
<body class="gradientBkgr" ng-app="gazuroApp">
<div id="dashboard" class="mainBox" ng-controller="menuController">
  <div class="container relBox">
    <div class="col-sm-12 projectsTitle" ng-click="goToMenu(1)"> Menu </div>
    <div class="col-sm-12 promptTitle" ng-show="shouldShow('menu_1')"> What would you like to do? </div>
    <div class="col-sm-12 promptTitle" ng-show="shouldShow('menu_2')"> Which order did you receive? </div>
    <div class="col-sm-12 promptTitle" ng-show="shouldShow('menu_3')"> Which kits do you want to send to Amazon? </div>

    <div id="menu_options" class="col-sm-12 flexc">
      <button type="button" class="btn btn-info btn-lg flexb" ng-show="shouldShow('menu_1')" ng-click="goToMenu(2)">Receive Back Orders</button>
      <button type="button" class="btn btn-info btn-lg flexb" ng-show="shouldShow('menu_1')" ng-click="goToInventoryPage()">View Current Inventory</button>
      <button type="button" class="btn btn-info btn-lg flexb" ng-show="shouldShow('menu_1')" ng-click="goToMenu(3)">Outgoing Kits</button>
      <button type="button" class="btn btn-info btn-lg flexb" ng-show="shouldShow('menu_1')" ng-click="showProductOrderForm()">Create New Order</button>
      <!--<button type="button" class="btn btn-info btn-lg flexb" ng-show="shouldShow('menu_1')" ng-click="testServer()">Test</button>-->

      <button ng-repeat="backorder in backorders" type="button" class="btn btn-info btn-lg flexb" ng-show="shouldShow('menu_2')" ng-click="confirmRecieve(backorder)">{{backorder.amount}} {{backorder.name}}</button>
      <button ng-repeat="kit in outgoingkits" type="button" class="btn btn-info btn-lg flexb" ng-show="shouldShow('menu_3')" ng-click="placeOrder(kit)">{{kit}}</button>
      <button type="button" class="btn btn btn-lg flexb commentButton" ng-show="shouldShow('menu_2')" ng-click="">Comments</button>
    </div>
  </div>

  <!-- Modals -->

  <!-- Confirm Received Prompt -->
  <div class="modal ng-hide" id="gazuroPrompt" ng-show="showPrompt">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="hidePrompt()">&times;</button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">
          <p>Please confirm you received {{itemToConfirm.name}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="updateBackOrder(itemToConfirm)">Confirm</button>
          <button type="button" class="btn btn-default" ng-click="hidePrompt()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Order Form  -->
  <div class="modal ng-hide" id="gazuroOrderPrompt" ng-show="showOrderPrompt">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="hidePrompt()">&times;</button>
          <h3>Shipping {{selectedKit}}</h3>
        </div>
        <div class="modal-body container">
          <form>
            <div class="form-group">
              <label for="numBoxes">‘How many master cartons are you shipping?</label>
              <input type="number" min="0" class="form-control" id="numBoxes" ng-model="currentOrder.numberOfBoxes"> </input>
            </div>
            <div class="form-group">
              <label for="numUnitsPerBox">How many units per master carton</label>
              <input type="number" min="0" class="form-control" id="numUnitsPerBox" ng-model="currentOrder.unitsPerBox"></input>
            </div>
          </form>

          <p>Total: <b> {{currentOrder.numberOfBoxes * currentOrder.unitsPerBox}}</b> {{selectedKit}} kits to be shipped </p>
        </div>
        <div class="modal-footer">
          <span class="confirmText" ng-show="confirmShip"> Are you sure?</span>
          <button type="button" class="btn btn-default" ng-hide="confirmShip" ng-click="verifyBeforeOrder()">Confirm</button>
          <button type="button" class="btn btn-success" ng-show="confirmShip" ng-click="confirmOrder(selectedKit)">Ship it!</button>
          <button type="button" class="btn btn-default" ng-click="hidePrompt()">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <!-- New product form  -->
  <div class="modal ng-hide" id="gazuroProductPrompt" ng-show="showProductPrompt">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="hidePrompt()">&times;</button>
          <h3>New Order</h3>
        </div>
        <div class="modal-body container">
          <form name="userForm" ng-submit="submitNewProduct()">
            <div class="form-group">
              <label>Product Name</label>
              <select ng-model="order.productId">
			        <option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>
			  </select>
            </div>
            <div class="form-group">
              <label>Amount</label>
              <input type="number" name="amount" class="form-control" min="0" ng-model="order.amount"></input>
            </div>
            <div class="form-group">
              <label>Status</label>
              <select ng-model="order.status">
                <option selected="selected" selected-value="BACK_ORDER">Back Order</option>
                <!-- <option value="IN_STOCK">In Stock</option> -->
              </select>
            </div>
<!--        <div class="form-group">
              <label>Shipping Price</label>
              <input type="number" name="shippingPrice" class="form-control" min="0" ng-model="order.shippingPrice"></input>
            </div> -->
            <div class="form-group">
              <label>Packager</label>
              <input type="text" name="packager" class="form-control" ng-model="order.packager"></input>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
 <!-- Notifications  -->
<div id="successNotification" class="alert alert-success fade" ng-show="showSuccess"> 
  <a href="#" class="close" ng-click="hideNotifications()">&times;</a>
  <strong>Success!</strong> {{successNotification}}
 </div>
 
<div id="errorNotification" class="alert alert-danger fade" ng-show="showError"> 
  <a href="#" class="close" ng-click="hideNotifications()">&times;</a>
  <strong>Error!</strong> {{errorNotification}}
 </div>
  
  
</div>


</body>
</html>

