
@font-face {
    font-family: 'TruenoLight'; 
    src: url(./fonts/TruenoLt.otf);
}

@font-face {
    font-family: 'TruenoRegular'; 
    src: url(./fonts/TruenoRg.otf);
}

@font-face {
    font-family: 'TruenoOutline'; 
    src: url(./fonts/TruenoBdOl.otf);
}


li {
    list-style: none;
}

#menu_options {
	border: 1px solid black;
	height: 400px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
    margin-top: 15px;
}

.flexc {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.promptTitle {
	font-size: 24px;
}

#menu_options button {
		
}

#gazuroProductPrompt .modal-content {
	width: 400px;
}

#gazuroPrompt .modal-dialog {
top: 25%;
}

#gazuroOrderPrompt.modal-dialog {
top: 25%;
}

#gazuroOrderPrompt .form-control {
	width: initial;
}

#gazuroOrderPrompt .confirmText {
	font-weight: bold;
	margin-right: 8px;
}

.commentButton {
	position: absolute;
	top: 88%;
	right: 5px;
}

.back-button {
    margin-top: 25px
}

.relBox {
	position: relative;
}


.projects {
/*     border: 1px solid black; */
    border-radius: 5px;
}

.projectsTitle {
    font-family: TruenoOutline;
    font-size: 50px;
    text-align: center;
	
	cursor: pointer;
}

.headerRow th{
    font-family: 'TruenoRegular'; 
}

.projectRow td {
    font-family: TruenoLight;
    text-transform: capitalize;
    
}

#successNotification, #errorNotification {
	position: absolute;
	width: 100%;
	z-index: 50000;
	top: 0;
	margin: 0 auto;
}
